body{
  font-family: 'monseratt', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background-image: url('./shared/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.warm{
  background-image: url('./shared/warm-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.75));
}

.search-bar{
  appearance: none !important;
  background: none !important;
  border: none !important;
  outline: none !important;

  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 0px 0px 16px 16px !important;

  color: #313131 !important;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}

.location{
  color: #fff;
  font-size: 32px !important;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date{
  color: #fff;
  font-size: 20px !important;
  font-weight: 300;
  font-style: italic !important;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.5) !important;
}

.temp{
  position: relative !important;
  display: inline-block !important;
  margin: 30px auto !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 15px 25px !important;

  color: #fff !important;
  font-size: 102px !important;
  font-weight: 900;

  border-radius: 16px !important;

  text-shadow: 3px 6px rgba(50, 50, 50, 0.5) !important;
  text-align: center !important;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.2) !important;

}

.weather{
  color:#fff !important;
  font-size: 48px !important;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5) !important;
}